@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

html {
    height: 100%;
}

body {
    color: #FFF;
	font: 1.4em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#FFF;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/*canvas[resize] {*/
    /*[>position: absolute;<]*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*[>top: 0;<]*/
    /*[>left: 0;<]*/
    /*[>z-index: 0;<]*/
/*}*/

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.header{
	padding: 10px 20px;
	margin: 0 auto;
	width: 100%;
  height: 3%;
	color:#FFF;
	font-size:30px;
	background-color:#3D9BE9;
	letter-spacing: 0.15em;
	font: normal normal normal 24px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  border-bottom-style: solid;
  border-color: blue;
}

.number{
	float: right;
	padding-right: 40px;
}

.big{
    width:50%;
    height:80%;
    float: right;
    clear: both;
}

.score{
color: blue;
float: right;
margin-right: 80px;

}
.pagewrap{
    /*padding: 40px 0px;*/
	margin: 0 auto;
	width: 100%;
    float: right;

	height:100%;
    /*background-image: url("a.jpg");*/
    overflow-y:scroll;
    display: inline-block;
    position:relative;
	/*max-height:750px;	*/
}

.pagewrap canvas, #overlay{
    position: absolute;
}

.leaderboard canvas, #overlay{
    position: absolute;
}

canvas{
    /*border: 1px solid black;*/
    clear: both;
    position:fixed;
}

#__processing1{
  position: fixed;
}

#__processing0{
  position: fixed;
}


/*#canvas-wrap canvas{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 49%;*/
    /*height: 60vh;*/
    /*[>z-index: 0;<]*/
    /*float: right;*/
/*}*/

/*#canvas-wrap {*/
    /*position: relative;*/
    /*width: 40%;*/
    /*height: 60vh;*/
    /*float: right;*/
/*}*/

#overlay {
    padding-top: 40px;
    text-align: center;
    width: 100%;
    height:100%;
}

.fork{
  font-size: 40px;
}


/*.leaderboardTitle{*/
    /*[>padding: 40px 0px;<]*/
	/*[>margin: 0 auto;<]*/
    /*height: 5%;*/
	/*width: 30%;*/
    /*float: left;*/
	/*background-color: #ddd;*/
	/*[>background-image: url("a.jpg");<]*/
	/*[>overflow-y:scroll;<]*/
    /*float: right, top;*/
/*}*/
.leaderboard{
    /*padding: 40px 10px;*/
    /*margin: 10px 10px;*/
    width: 50%;

    height:80%;
    float: right;
    position: fixed;
    overflow-y:scroll;
    display: inline-block;
    /*z-index: 1;*/
    /*[>background-image: url("a.jpg");<]*/
    /*[>overflow-y:scroll;<]*/
    /*float: right;*/
}
/**{border:1px dashed blue;}*/
#fork{
  overflow-y: scroll;
}

.cup{
  padding-top: 5px;
}
.container {
	padding: 40px 20px;
	margin: 0 auto;
	width: 90%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.3);

}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4);
}

.button {
    float: left;
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: rgb(70,100,255);
	border: none;
	border-radius: 15px;
	width:10%;
	height:50px;
  margin-right: -5px;
  margin-top: 5px;
}

.button:hover {
	background-color: rgb(40,140,255)
}

.button:active {
	background-color: rgb(70,100,255);
	transform: translateY(4px);
}

.textbox1{
	background-image: linear-gradient(bottom, #FFF 25%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #FFF 25%, #FFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFF 25%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFF 25%, #FFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFF 25%, #FFF 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, #FFF),
		color-stop(1, #FFF)
	);
	border-radius: 20px;
	box-sizing: border-box;
	clear: both;
	float: right;
	margin-right: 30px;
	padding: 8px 30px;
	position: relative;
	width: 85%;
	max-width: 100%;
	word-wrap: break-word;
	height:50px;
	resize: none;
  margin-top: 5px;
}

.bubble {
	background-image: linear-gradient(bottom, rgb(70,100,255) 25%, rgb(60,90,245) 100%);
	background-image: -o-linear-gradient(bottom, rgb(70,100,255) 25%, rgb(60,90,245) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(70,100,255) 25%, rgb(60,90,245) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,100,255) 25%, rgb(60,90,245) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(70,100,255) 25%, rgb(60,90,245) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,100,255)),
		color-stop(1, rgb(60,90,245))
	);
	border-radius: 20px;
	box-sizing: border-box;
	clear: both;
	float: left;
	margin-bottom: 20px;
	padding: 8px 30px;
	position: relative;
	width: auto;
	max-width: 100%;
	word-wrap: break-word;

}

.bubble:before, .bubble:after {
	border-radius: 20px / 10px;
	content: '';
	display: block;
	position: absolute;
}

.bubble:after {
	border: 8px solid transparent;
	border-bottom-color:rgb(70,100,255);
	bottom: 1px;
	left: -5px;
}

.bubble--alt {
	background-image: linear-gradient(bottom, #eee 25%, #eee 100%);
	background-image: -o-linear-gradient(bottom, #eee 25%, #eee 100%);
	background-image: -moz-linear-gradient(bottom, #eee 25%, #eee 100%);
	background-image: -webkit-linear-gradient(bottom, #eee 25%, #eee 100%);
	background-image: -ms-linear-gradient(bottom, #eee 25%, #eee 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, #eee),
		color-stop(1, #eee)
	);
		float: right;
		color: #000;
}

.bubble--alt:after {
	border-bottom-color: #eee;
	border-radius: 20px / 10px;
	left: auto;
	right: -5px;
}
